<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysdit.employee.mapper.MenuMapper">


	
	<!-- 全部的树 -->
	<select id="AllMenu" resultType="com.ysdit.employee.entity.Menu">
	SELECT * FROM `modules` order by weight
	</select>
	
	<!-- 修改树 -->
	<update id="UpMenu" parameterType="com.ysdit.employee.entity.Menu">
	update modules 
	<set>
	text=#{text},
	weight=#{weight},
	parentId=#{parentId},
	path=#{path}
	</set>
	where id=#{id}
	</update>
	
	<!-- 添加树 -->
	<insert id="AddMenu" parameterType="com.ysdit.employee.entity.Menu">
	insert into modules(text,weight,parentId,path)
	values(#{text},#{weight},#{parentId},#{path})
	</insert>
	
	
	<!-- 删除树 -->
	<delete id="DelMenu" parameterType="int">
	delete from modules
	where id=#{value}
	</delete>
	
	<resultMap type="com.ysdit.employee.entity.Department" id="roleMondel">
	
		<id column="moduid" property="Id"/>
		<result column="Name" property="Name"/>
		
		<collection property="menu" ofType="com.ysdit.employee.entity.Menu">
			<id column="Id" property="id"/>
			<result column="text" property="text"/>
			<result column="ParentId" property="parentId"/>
			<result column="Path" property="path"/>
			<result column="Weight" property="weight"/>
		</collection>
		
	</resultMap>
	<!-- //用户及其角色，模块 -->
	<select id="RoleMondel" parameterType="String" resultMap="roleMondel">
		SELECT
		roles.Id moduid,
		roles.Name,
		modules.Id,
		modules.text,
		modules.ParentId,
		modules.Path,
		modules.Weight,
		modules.checked
		FROM
		modules
		INNER JOIN rolemodules ON rolemodules.ModuleId = modules.Id
		INNER JOIN roles ON rolemodules.RoleId = roles.Id


		where Name=#{value}
	</select>
</mapper>