<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysdit.employee.mapper.EmployeeMapper">



	<!-- 全部的客户 -->
	<select id="AllUser" parameterType="com.ysdit.employee.entity.Employee"
		resultType="com.ysdit.employee.entity.Employee">
		SELECT
		* from users

		<where>
			<if test="LoginName !=null and LoginName !=''"> LoginName like
				"%"#{LoginName}"%"</if>
			<if test="ProtectEMail !=null and ProtectEMail !=''"> and
				ProtectEMail like "%"#{ProtectEMail}"%"</if>
			<if test="protectMTel !=null and protectMTel !=''"> and
				protectMTel like "%"#{protectMTel}"%"</if>
			<if test="IsLockout !=null and IsLockout !=''"> and IsLockout
				=#{IsLockout}</if>
		</where>
		LIMIT #{page},#{rows}
	</select>

	<!-- 全部的客户 -->
	<select id="AllUserAlls" parameterType="com.ysdit.employee.entity.Employee"
		resultType="com.ysdit.employee.entity.Employee">
		SELECT
		* from users

		<where>
			<if test="LoginName !=null and LoginName !=''"> LoginName like
				"%"#{LoginName}"%"</if>
			<if test="ProtectEMail !=null and ProtectEMail !=''"> and
				ProtectEMail like "%"#{ProtectEMail}"%"</if>
			<if test="protectMTel !=null and protectMTel !=''"> and
				protectMTel like "%"#{protectMTel}"%"</if>
			<if test="IsLockout !=null and IsLockout !=''"> and IsLockout
				=#{IsLockout}</if>
		</where>
	</select>


	<!-- 添加用户 -->
	<insert id="AddUser" parameterType="com.ysdit.employee.entity.Employee">
		insert into
		users(id,LoginName,IsLockout,password,ProtectEMail,protectMTel)
		values(#{id},#{LoginName},#{IsLockout},"ysd123",#{ProtectEMail},#{protectMTel})
	</insert>

	<!-- 删除用户 -->
	<delete id="DelUser" parameterType="String">
		delete from users where
		Id=#{value}
	</delete>

	<!-- 修改用户 -->
	<update id="UpUser" parameterType="com.ysdit.employee.entity.Employee">
		update users

		<set>
			<if test="LoginName !=null and LoginName !=''"> LoginName=#{LoginName},</if>
			<if test="IsLockout !=null and IsLockout !=''"> IsLockout=#{IsLockout},</if>
			<if test="ProtectEMail !=null and ProtectEMail !=''"> ProtectEMail=#{ProtectEMail},</if>
			<if test="protectMTel !=null and protectMTel !=''"> protectMTel=#{protectMTel},</if>
		</set>

		where Id=#{Id}

	</update>



	<resultMap type="com.ysdit.employee.entity.Employee" id="userRoleMondel">
	
	<id column="userid" property="Id"/>
	<result column="LoginName" property="LoginName"/>
	
	<collection property="department" ofType="com.ysdit.employee.entity.Department">
		<id column="rolesid" property="Id"/>
		<result column="Name" property="Name"/>
		
		<collection property="menu" ofType="com.ysdit.employee.entity.Menu">
			<id column="moduid" property="id"/>
			<result column="text" property="text"/>
			<result column="ParentId" property="parentId"/>
			<result column="Path" property="path"/>
			<result column="Weight" property="weight"/>
		</collection>
	</collection>
	</resultMap>
	
	<!-- //用户及其角色，模块 -->
	<select id="UserRoleMondel" parameterType="String" resultMap="userRoleMondel">
		SELECT
		users.Id userid,
		users.LoginName,
		roles.Id rolesid,
		roles.`Name`,
		modules.id moduid,
		modules.text,
		modules.ParentId,
		modules.Path,
		modules.Weight
		FROM
		users
		INNER JOIN userroles ON userroles.UserId = users.Id
		INNER JOIN roles ON userroles.RoleId = roles.Id
		INNER JOIN rolemodules ON rolemodules.RoleId = roles.Id
		INNER JOIN modules ON rolemodules.ModuleId = modules.Id

	where LoginName=#{value}
	</select>
	
	<!-- 添加 DelUserToRole -->
	<insert id="AddUserToRole" parameterType="String">
	insert into userroles(id,userid,roleid)
	
	values(#{2},#{0},#{1})
	
	</insert>
	
	<!-- 删除 -->
	<delete id="DelUserToRole" parameterType="String">
	
	delete from userroles where userid=#{0} and roleid=#{1}
	
	</delete>
	
	
</mapper>