<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysdit.employee.mapper.DepartmentMapper">


	<!-- 全部的部门 -->
	<select id="AllDepartment" parameterType="com.ysdit.employee.entity.Department"
		resultType="com.ysdit.employee.entity.Department">
		SELECT * FROM `roles`

		<where>
			<if test="Name!=null and Name!=''">Name like "%"#{Name}"%"</if>
		</where>

		<if test="page!=null and page!=''">LIMIT #{page},#{rows}</if>


	</select>

	<!-- 全部的部门 -->
	<select id="AllDepartmentAlls" parameterType="com.ysdit.employee.entity.Department"
		resultType="com.ysdit.employee.entity.Department">
		SELECT * FROM `roles`

		<where>
			<if test="Name!=null and Name!=''">Name like "%"#{Name}"%"</if>
		</where>

	</select>

	<!-- 删除 -->
	<delete id="DelDepartment" parameterType="String">

		delete from `roles` where Id=#{value}

	</delete>

	<!-- 添加 -->
	<insert id="AddDepartment">

		insert into `roles`(Id,Name)
		values(#{Id},#{Name})

	</insert>

	<!-- 修改 -->
	<update id="UpDepartment">
		update `roles`
		<set>
			Name=#{Name}
		</set>
		where Id=#{Id}
	</update>

	<select id="roleByName" parameterType="String" resultType="com.ysdit.employee.entity.Department">
		SELECT
		roles.Id,
		roles.`Name`,
		roles.Int0,
		roles.String0
		FROM
		userroles
		INNER JOIN roles ON userroles.RoleId = roles.Id
		
		where userroles.UserId=#{value}
	</select>

	<!-- 添加用户模块 -->
	<insert id="AddRole" parameterType="com.ysdit.employee.entity.RoleAndMenu">
		insert into `rolemodules`(Id,RoleId,ModuleId)
		values(#{Id},#{RoleId},#{ModuleId})
	</insert>
	
	<!-- 删除用户模块 -->
	<delete id="DelRoleMoudel" parameterType="String">
	delete from rolemodules
	
	where RoleId=#{value}
	
	</delete>
</mapper>